@font-face {
  font-family: Avenir;
  src: url('./fonts/Avenir-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url('./fonts/Avenir-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  color: #3d4e61;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 8px 0;
}
